@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    background-position: left;
  }
}

.container {
  @apply w-full max-w-7xl mx-auto px-8
}

::selection {
  @apply bg-zinc-100 text-zinc-400
}

.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper-slide {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  @apply bg-white !important;

  width: 0.75rem !important;
  height: 0.75rem !important;
  border-radius: 9999px !important;
  transition: all 0.2s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  @apply bg-zinc-500 !important;
  width: 2rem !important;
  height: 0.75rem !important;
  border-radius: 9999px !important;
  transition: all 0.2s ease-in-out !important;
}

.after-line:not(:last-child)::after {
  content: '';
  width: 2px;
  height: 10rem;

  position: absolute;
  left: 50%;
  top: 2.3rem;

  transform: translateX(-50%);

  @apply bg-zinc-200
}

.default {
  display: flex;
  align-items: center;
}

.default .swiper-slide {
  padding-bottom: 50px;
}

.default .swiper-pagination-bullet {
  @apply bg-zinc-900 !important
}

.n2Class:nth-child(2n) div {
  @apply bg-zinc-600 !important
}
.n2Class:nth-child(2n) .icon-service {
  @apply bg-zinc-500 !important
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded-full
}

